<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Örlög – Runenkrieg</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>🎲 Örlög – Runenkrieg</h1>

        <div id="leben-player-1">Dein Leben: </div>
        <div id="leben-player-2">Gegner: </div>        

        <div id="dice-result">Würfle die Runen...</div> 
        <div id="active-player-info">Aktiver Spieler: ...</div>


        <div class="button-row">
            <button id="roll-btn">🎲 Würfeln</button>
            <button id="lose_hp">HP abziehen</button>
            <button id="add_hp">HP hinzufügen</button>
        </div>
        
        <div class="button-row">
            <button id="restart">Neu starten</button>
            <button id="turn-1">Spieler 1 am Zug</button>
            <button id="turn-2">Spieler 2 am Zug</button>
        </div>
        
    </div>
    

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
